/* 
@import url(https://github.backroomswiki.cn/Super_Liminal/css/super-liminal.css);
:root {
    --header-title: "NOC";
    --header-subtitle: "当时空崩塌之时……";
    --logo-image: url("https://tc.z.wiki/autoupload/ZNfozAik_vr7gX6J34WCBdiO_OyvX7mIgxFBfDMDErs/wikidot/nocworldcn-wiki/WikidotNOC--Wiki-img.png")
    --link-color: 205, 205, 205;
    --hover-link-color: 0, 0, 0;
    --visited-link-color: 195, 195, 195;
    --background-color: 255, 255, 255;
}
#navi-bar {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    #side-bar {
        left: calc(var(--sidebar-width-on-mobile) * -1);
    }
    #side-bar:target, #skrollr-body:target #side-bar {
        left: -0.5rem;
    }
    #side-bar .heading p,
    #side-bar .side-block > .collapsible-block .collapsible-block-link {
        letter-spacing: 0.016em;
    }
    #side-bar:target .close-menu, #skrollr-body:target #side-bar .close-menu {
        margin-left: calc(var(--sidebar-width-on-mobile) - 0.5rem);
        width: calc(100% - var(--sidebar-width-on-mobile) + 0.5rem);
    }
}
@media only screen and (max-width: 768px) {
    #side-bar div.scpnet-interwiki-wrapper {
        width: calc(var(--sidebar-width-on-mobile) - 0.5rem);
        max-width: calc(80vw + var(--base-font-size) * 0.5);
    }
}
@media only screen and (min-width: 768px) {
    div.scpnet-interwiki-wrapper {
        width: 100%;
    }
}
*/
@import url(https://github.backroomswiki.cn/Super_Liminal/css/super-liminal.css);

:root{
    --header-title: "NOC";
    --header-subtitle: "当时空崩塌之时……";
    --bb-white:var(--background-color);
    --bb-black:var(--text-color);
    --logo-image: url("https://lostmedia.wikidot.com/local--files/start/cn-logo-2.svg");

--link-color: 51, 152, 204;
--hover-link-color: 61, 172, 214;
--visited-link-color: 100, 100, 200;
--newpage-color: 50, 50, 220;
}

#side-bar .side-block.media a img {
    position: relative;
    transform: translateX(0);
}
